body {
    margin: 0;
}

#nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

#nav a {
        margin-right: 20px;
    
}

#nav a.topimage {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#middle {
    margin-top: 150px;
}

#logo {
    text-align: center;
}

img {
    width: 272px;
    height: 92px;
}

#searchbarcontainer {
    text-align: center;
    margin-top: 20px;
}

#searchbar {
    padding-top: 10px;
    padding-bottom: 10px;
    outline: 0px;
    width: 500px;
    border-radius: 20px;
    border: 1px solid rgba(197, 193, 193, 0.933);
}  

#searchbar:hover {
    box-shadow: 0 0 5px 2px rgb(230, 227, 227);
}

#buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    background: rgb(226, 225, 225);
}

#links {

    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}